@{
    ViewData["Title"] = "Restuarant rankings";
}

@model MenuLog.Web.ViewModels.RankingModel

<div>
    <table>
        
        <tr>
            <td>Name</td>
            <td>Ranking</td>
            <td>PostCode</td>
        </tr>
        
        @foreach (var restaurant in Model.Rankings)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Rating</td>
                <td>@restaurant.Suburb.PostCode</td>
            </tr>
        }

    </table>
</div>