@{
    ViewData["Title"] = "Contact Warren";
}

<div class="row col-lg-12">

    <h1>Contact details</h1>
    <br />

    <table class="table">

        <tr>
            <td>Name</td>
            <td>Skype</td>
            <td>Email</td>
            <td>LinkedIn</td>
            <td>Mobile</td>
        </tr>

        <tr>
            <td>Warren Pistorius</td>
            <td>warren.pistorius</td>
            <td>warren@adrenalin-designs.co.za</td>
            <td><a href="https://www.linkedin.com/in/warren-pistorius-37511510a/">Linked In</a></td>
            <td>+27713511543</td>
        </tr>

    </table>
</div>

